.top {
    width: 100%;
}

.top>div:nth-child(1) {
    width: 100%;
    height: 0px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    transition: all .5s 0s linear;
}

.top-one {
    width: 990px;
    height: 50px;
    margin: 0 auto;
}

.top-one a {
    float: left;
    width: 125px;
    height: 40px;
}

.top-one a img {
    width: 125px;
    height: 40px;
    margin-top: 5px;
}

.top-one div {
    float: left;
}

.top-one>div:nth-child(2) {
    width: 488px;
    height: 30px;
    border: 2px solid #e2231a;
    margin: 8px 10px 0px 100px;

}

.top-inp input:nth-child(1) {
    width: 400px;
    height: 24px;
    border: none;
    outline: none;
    padding: 2px 17px;
    float: left;
}

.top-inp input:nth-child(2) {
    float: left;
    width: 54px;
    height: 30px;
    border: none;
    color: #fff;
    background-color: #e1251b;
}

.che {
    width: 130px;
    height: 34px;
    border: 1px solid #e3e4e5;
    line-height: 34px;
    text-align: center;
    color: #e1251b;
    margin-top: 8px;
    font-size: 14px;
}

.top-two {
    width: 100%;
    height: 0px;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 52px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    transition: all .5s 0s linear;
}

.top-two ul {
    width: 900px;
    height: 40px;
    margin: 10px auto 5px;
}

.top-two ul li {
    float: left;
    width: 150px;
    height: 50px;
    text-align: center;
}

.top-two ul li a:nth-child(1) {
    background: #e1251b;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #fff;
    width: 70px;
    height: 27px;
    display: block;
    border-radius: 50px;
    padding: 0 5px;
    margin: 0 auto;
}

.top-two ul li a:nth-child(2) {
    color: #999;
    font-size: 14px;
}

.bian {
    width: 58px;
    position: fixed;
    top: 100px;
    left: 95%;
    background-color: rgb(172, 169, 169);
    font-size: 14px;
    /* display: none; */
    padding-top: 10px;
}

.bian li {
    width: 58px;
    height: 58px;
    /* line-height: 58px; */
    text-align: center;
}

.bian li a {
    width: 30px;
    height: 40px;
    margin: 15px 0 0 15px;
    display: block;
    color: #fff;
}

.nav {
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

.nav>div {
    width: 1190px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
}

.nav>div div {
    float: left;
    position: relative;
}

.nav>div ul {
    float: right;
}

.nav>div ul li {
    float: left;
    padding: 0 10px;

}

.nav>div ul li a {
    color: #999;

}

.nav .spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    padding: 0;
    background-color: #ccc;
}

.nav i {
    width: 40px;
    height: 30px;
    display: inline-block;
    font-style: normal;
    text-align: center;
}

.nav i:hover {
    background-color: #fff;
}

.nav .nav-add {
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.header>div {
    width: 1210px;
    height: 100px;
    margin: 0 auto;
}

.header>div a img {
    width: 190px;
    height: 120px;
}

.header div h1 {
    width: 190px;
}

.header>div>a {
    width: 190px;
    display: block;
    float: left;
}

.fenlei {
    width: 75px;
    height: 27px;
    float: left;
    margin: 40px 0 0 0;
    text-align: center;
    line-height: 27px;
    border: 1px solid #ccc;
    position: relative;
}

.fenlei>div {
    width: 150px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 27px;
    border: 1px solid #ccc;
    display: none;
    background-color: #fff;
}

.fenlei:hover div {
    display: block;
}

.fenlei div ul {
    overflow: hidden;
    margin-left: 14px;
}

.fenlei ul li {
    float: left;
}

.header>div>div:nth-child(2) {
    float: left;
}

.header>div>div:nth-child(3) {
    float: left;
}

.header-ipt {
    width: 780px;
    overflow: hidden;
}

.header-ipt>div {
    width: 566px;
    /* border: 2px solid #B61D1D; */
    overflow: hidden;
    margin: 25px 0px 5px 80px;
    float: left;
}

.header-ipt input:nth-child(1) {
    width: 426px;
    height: 29px;
    padding: 2px 10px;
    border: 0;
    outline: none;
    float: left;
    border: 2px solid #B61D1D
}

.header-ipt input:nth-child(2),
.header-ipt input:nth-child(3) {
    width: 58px;
    height: 37px;
    background-color: #B61D1D;
    float: left;
    color: #fff;
    border: none;
    outline: none;
}

.header-ipt>a {
    float: right;
    padding: 10px 20px;
    border: 1px solid #cccc;
    margin-top: 25px;
}

.header-li ul li {
    float: left;
}

.header-li ul li a:hover {
    color: #e1251b;
}

.ul1 {
    overflow: hidden;
    margin-left: 80px;
}

.ul1 li {
    margin-right: 10px;
}

.subnav {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: #1A1A1A;

}

.subnav>div {
    height: 110px;
    background: url(https://img13.360buyimg.com/cms/jfs/t30709/176/408378979/70872/17c9b345/5bf28f74Nb7c23da0.jpg) no-repeat top center;
}

.subnav ul {
    width: 990px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.subnav div {
    height: 110px;
}

.subnav ul li {
    float: left;
    margin: 0px 20px;
}

.subnav a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.navwrap {
    width: 100%;
    height: 40px;

    background-color: #f2f2f2;
}

.navwrap a {
    font-size: 12px;
    color: #666666;
}

.navwrap div {
    width: 1210px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.navwrap .warp-l {
    width: 500px;
    float: left;
}

.navwrap .warp-r {
    width: 270px;
    float: right;
}

.warp-r a {
    margin-right: 10px;
}

.warp-r a:nth-child(1) {
    background-color: #e4393c;
    color: #fff;
}

.img-wrap {
    width: 100%;
}

.img-wrap>div {
    width: 1210px;
    margin: 0 auto;
}

.img-wrap>div>div {
    overflow: hidden;
}

.img-l {
    width: 452px;
    height: 583px;
    margin: 10px 20px 0px 0;
    position: relative;
    float: left;
}

.img-l>div:nth-child(1) {
    width: 450px;
    height: 450px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.img-l>div:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.ul img {
    width: 58px;
    height: 56px;
}

.mark {
    width: 300px;
    height: 300px;
    background-color: rgba(245, 235, 105, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.img-l ul {
    width: 452px;
    height: 58px;
    overflow: hidden;
}

.img-l ul li {
    float: left;
    margin-left: 20px;
}

.img-r {
    width: 550px;
    height: 550px;
    border: 1px solid #ccc;
    position: absolute;
    left: 452px;
    top: 0px;
    display: none;
    z-index: 100;
    overflow: hidden;
}

.img-r img {
    width: 150%;
    height: 150%;
    position: absolute;
    left: 0;
    top: 0;
}

.img-w {
    overflow: hidden;
    float: left;
}

.w-bg {
    width: 738px;
    height: 106px;
    background: url(https://static.360buyimg.com/item/unite/1.0.105/components/default/common/i/price-bg.png);
}

.w-o {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.w-t {
    overflow: hidden;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.w-t span:nth-child(1) {
    color: #999;
    letter-spacing: 15px;
}

.w-t i {
    font-style: normal;
    font-weight: bold;
    color: #e4393c;
}

.w-t span:nth-child(3) {
    color: #e4393c;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.w-t>a {
    color: #005aa0;
}

.w-t div {
    position: absolute;
    right: 20px;
    top: 8px;
    width: 68px;
    height: 32px;
    text-align: center;
    border-left: 1px solid #ccc;
    z-index: 1;
}

.w-t div a {
    color: #005aa0;
    display: block;
    font-size: 14px;
}

.w-three {
    margin: 10px 0 5px 10px;
}

.w-three span {
    color: #999;
    margin-right: 10px;
}

.w-three i {
    font-style: normal;
    color: #e4393c;
    border: 1px solid #e2231a;
    margin-right: 10px;
}

.w-f {
    margin-left: 90px;
}

.w-f i {
    font-style: normal;
    color: #e4393c;
    border: 1px solid #e2231a;
    margin-right: 10px;
}

.w-five {
    margin-top: 10px;
    color: #999;
    letter-spacing: 2px;
}

.w-five a {
    color: #005aa0;
    margin-left: 10px;
}

.w-s {
    overflow: hidden;
    margin-top: 10px;
    line-height: 22px;
}

.w-s p {
    float: left;
}

.w-s p:nth-child(1) {
    letter-spacing: 10px;
    color: #999;
}

.w-s a {
    float: left;
    color: #005aa0;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #eaeaea;
}

.w-s p:nth-child(2) {
    width: 144px;
    height: 22px;
    line-height: 22px;
    text-indent: 5px;
    border: 1px solid #ccc;
}

.w-s p:nth-child(3) {
    margin-left: 5px;
    margin-right: 20px;
}

.w-s p:nth-child(4) {
    margin-right: 10px;
}

.w-seven {
    margin: 10px 0 10px 80px;
    color: #999;
}

.w-seven a {
    color: #e2231a;
}

.w-n {
    color: #999;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

.w-n span {
    letter-spacing: 10px;
}

.w-n i {
    font-style: normal;
}

.w-c {
    overflow: hidden;
    margin: 10px 0 0 10px;
}

.w-c span {
    float: left;
    color: #999;
    line-height: 40px;
}

.w-c div {
    float: left;
    width: 80px;
    height: 40px;
    border: 1px solid #ccc;
    margin-left: 10px;
    overflow: hidden;
}

.w-c img {
    float: left;
}

.w-c div p {
    width: 40px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    float: left;
    text-align: center;
    line-height: 40px;
}

.w-ban {
    overflow: hidden;
    margin: 10px 0 0 10px;
}

.w-ban span {
    float: left;
    color: #999;
    line-height: 40px;
}

.w-ban p {
    width: 80px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    float: left;
    margin-left: 10px;
    text-align: center;
}

.w-zeng {
    overflow: hidden;
    margin: 10px 0 0 10px;
}

.w-zeng>span {
    float: left;
    color: #999;
    line-height: 40px;
}

.w-zeng p {
    float: left;
    height: 32px;
    width: 144px;
    border: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}

.w-zeng p span {
    float: left;
    line-height: 32px;
}

.fenqi {
    overflow: hidden;
    margin: 10px 0 0 10px;
}

.fenqi span {
    float: left;
    color: #999;
    line-height: 32px;
}

.fenqi p {
    float: left;
    margin-left: 10px;
    width: 100px;
    height: 32px;
    border: 1px solid #ccc;
    line-height: 32px;
}

.w-ipt {
    overflow: hidden;
    margin: 10px 0 0 10px;
}

.w-ipt>div {
    overflow: hidden;
    border: 1px solid #999999;
    width: 62px;
    float: left;
}

.w-ipt>div>input {
    float: left;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border: none;
    outline: none;
    border-right: 1px solid #ccc;

}

.w-ipt div div {
    float: left;
    width: 17px;
    height: 48px;
}

.w-ipt div div input {
    display: block;
    width: 17px;
    height: 24px;
    border: none;
}

.w-ipt div div input:nth-child(1) {
    border-bottom: 1px solid #999;
}

.w-ipt a {
    display: block;
    padding: 14px 20px;
    float: left;
    color: #fff;
    font-size: 16px;
    background-color: #e1251b;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

.w-ipt a:hover {
    text-decoration: none;
    color: #fff;
}

.tishi {
    line-height: 32px;
    margin-left: 10px;
    color: #999;
    margin-top: 20px;
}

.tuijian {
    width: 1210px;
    overflow: hidden;
    margin: 0 auto;
}

.tuijian h5 {
    background-color: rgb(245, 244, 244);
    height: 36px;
    border-bottom: 1px solid #e1251b;
}

.tuijian h5 span {
    display: block;
    color: #fff;
    background-color: #e4393c;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    width: 106px;
    height: 36px;
}

.tuijian ul {
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 50px;
}

.tuijian ul li {
    float: left;
}

.tuijian i {
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 160px;
    text-align: center;
    color: #e4393c;
}

.tuijian img {
    width: 160px;
    height: 160px;
    margin-left: 40px;
}

.youxuan {
    overflow: hidden;
    width: 210px;
    border: 1px solid #999;
    float: left;
}

.youxuan div {
    height: 40px;
    width: 210px;
    background-color: rgb(238, 237, 237);
    float: left;
}

.youxuan h3 {
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
}

.youxuan i {
    color: #e4393c;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}

.bottom-r {
    width: 988px;
    float: right;
    text-align: center;
}

.bottom-r ul {
    overflow: hidden;
    border-bottom: 1px solid #e4393c;
    margin-left: 10px;
    width: 988px;
    background-color: rgb(233, 231, 231);
}

.bottom-r div {
    display: none;
}

.bottom-r ul li {
    float: left;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

.li-r {
    background-color: #e4393c;
    color: #fff;
}


.bottom-r .xianshi {
    display: block;
    width: 998px;
    min-height: 1000px;
    font-size: 50px;
    color: red;
}